<h2 class="section-heading">PRODUCTS</h2>

<div class="productList" *ngFor="let product of products">

  <p class="sale-text">  SALE </p>
  <p id="dummy"> Hello </p>
  <p class="new-text">  NEW </p>  
  
  
  

  <p *ngIf="product.image" class="pImage">
    <a [routerLink]="['/products', product.id]">
      <img class="productImage" src= '{{ product.image }}' />
    </a>  
  </p>
  

  <h3>
    <a class="productName"
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  
  <p *ngIf="product.description" class="pDesc">
    {{ product.description }}
  </p>
  <p *ngIf="product.price" class="productPrice">
    &#8369;{{ product.price }}
  </p>
  
  <app-product-alerts
    [product]="product">
  </app-product-alerts>

  
</div>