<h2 class="section-heading">Products</h2>

<div class="productList" *ngFor="let product of products">

  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.image">
  <img class="productImage" src= '{{ product.image }}' />
  
</p>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>
  
  <app-product-alerts
    [product]="product">
  </app-product-alerts>

</div>