h1 {
  font-family: helvetica, sans-serif;
  color: rgb(255, 142, 37);
  padding-left: 275px;
  font-weight: bold;
}

.icon-mobile-phone {
  color:rgb(255, 142, 37);
  background-color: #1e2dff;
}

#searchBar {
  width: 400px;
  margin-top: 15px;
  margin-right: 5px;
  border-radius: 5px;
}

.search {
  background-color: #1e2dff;
}
.fa-search {
  background-color: #1e2dff;
  color: white;
}

#btnSearch {
  margin-left: 5px;
}

